@{
    ViewData["Title"] = @Model[0].ProductCategory.Name;
}
@model List<Codecool.CodecoolShop.Models.Product>

<h1>Category: @Model[0].ProductCategory.Name</h1>

<p>Use this page to show products from certain category.</p>
@foreach (var product in Model)
{
    @product.Name<br/>
}
