@{
    ViewData["Title"] = @Model[0].Supplier;
}
@model List<Codecool.CodecoolShop.Models.Product>

<h1>Supplier: @Model[0].Supplier</h1>

<p>Use this page to show products from certain category.</p>
@foreach (var product in Model)
{
    @product.Name
    <br />
}